@mixin pad{
    @media(max-width: 768px){
        @content;
    }
}
@mixin mobile{
    @media(max-width: 568px){
        @content;
    }
}
@mixin center($f,$a,$j) {
    display: $f;
    align-items: $a;
    justify-content: $j;
}
@mixin themeColor {
    background-color: #1f1e28;
    color: white;
}

* {   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mate SC', 'Noto Sans TC', sans-serif;
    letter-spacing: 2px;
    line-height: 30px;
    // border: solid white 2px;
}
html {
    height: 100%; 
    
}

body {
    width: 100%;    
}

.container {
    height: 100vh;
    width: 100%;
    img {
        position: absolute;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        z-index: -1;
    }    
    h1 {
        position: absolute;
        color: #fff;
        top: 40%;
        left: 50%;
        transform: translate(-50%,50%);        
        font-size: 6rem;
        text-align: center;
        @include mobile {
            font-size: 3rem;
            line-height: 45px;
        }
        @include pad {
            font-size: 5rem;
            line-height: 80px;
        }
    }
    
}
.content {
    @include center(flex,center,space-around);
    @include themeColor;
    flex-direction: column;
    height: 120vh;
    padding: 8% 4%;        
    .title_hear {
        font-size: 2rem;
        padding: 3%;
        @include mobile {
            font-size: 1.5rem;
            padding: 0%;
            height: 10%;            
        }     
        @include pad {
            font-size: 2rem;
            padding: 0%;
            height: 10%;            
        }         
    }
    .title_hear::after {
        content: '';
        padding-left: 3px;
        border-right: solid 2px white; 
        animation: typeingAnumation infinite 0.7s ease;
    }    
    @keyframes typeingAnumation{
        0%{opacity: 0;}
        100%{opacity: 1;}
    }
    .introduction {
        display: flex;
        padding: 12%;
        height: 50%;
        align-items: center;
        font-size: 1.2rem;
        @include mobile {
            flex-direction: column;
            padding: 4%;
        }
        @include pad {
            flex-direction: column;
            padding: 4%;
        }
        img {
            flex: 3;
            max-width:100%;
            height: auto;
            transition: 0.2s;
            box-shadow: -15px 15px 0px rgb(219, 217, 217);
            @include mobile {
                @include center(flex,center,center);
                display: none;
            } 
            @include pad {
                @include center(flex,center,center);
                display: none;
            } 
            &:hover {
                transform: translate(5px,-5px);
                box-shadow: -25px 25px 0px rgb(219, 217, 217);
            }
        }
        .introductionText {
            flex: 7;
            padding: 4%;
            opacity: 0;
            transition:　all 0.5s ease;
            transform: translateY(50px);
            @include mobile {
                flex: 1;
                padding: 4%;
            }          
        }
        .appear {
            opacity: 1;
            transform: translate(0px);
            transition: 1s
        }
    }
}

.whatHappen {
    @include themeColor;
    position: relative;
    display: flex;
    align-items: center;    
    flex-direction: column;
    height: 200vh;
    padding: 5%;  
    @include mobile {
        overflow: hidden;
    } 
    @include pad {
        overflow: hidden;
    } 
    .whyText {
        font-size: 2rem;
        text-align: center;
        line-height: 50px;
        letter-spacing: 5px;
    }
    .img_01,.img_02,.img_03,.img_04 {
        height: 40%;
        width: auto;
        position: absolute;
        opacity: 0;
        @include mobile {
            height: 20%;
        }     
        @include pad {
            height: 20%;
        }     
    }
    .img_01 {
        top: 20%;
        left: 16%;
        transform: translate(-50px);
    }
    .img_02 {
        top: 28%;
        right: 20%;
        transform: translate(50px);
    }
    .img_03 {
        height: 20%;
        left: 12%;
        bottom: 16%;
        transform: translateY(50px);
    }
    .img_04 {
        height: 20%;
        right: 20%;
        bottom: 4%;
        transform: translateY(50px);
    }
    .imgAnimation {
        opacity: 1;
        transform: translate(0px);
        transition: 1s;
    }
    @include mobile {
        .img_02 {
            top: 32%;
            right: 20%;
            transform: translate(50px);
        }
        .img_03 {
            height: 16%;
            left: 8%;
            bottom: 32%;
            transform: translateY(50px);
        }
        .img_04 {
            height: 20%;
            right: 20%;
            bottom: 4%;
            transform: translateY(50px);
        }    
    }
}
.story {
    @include themeColor;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 320vh;
    padding: 4% 8%;
    @include mobile {
        height: 400vh;
    } 
    h2 {
        font-size: 5rem;
        padding: 4% 0;
        @include mobile {
            font-size: 2rem;
        } 
    }
    p {
        font-size: 1.2rem;
        line-height: 45px;
        width: 100%;
        @include pad {
            padding: 5%;
        } 
        span {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
    .storyConetnt {
        @include center(flex,center,center);
        padding: 8% 0;
        p {
            flex: 1;
            display: flex;
        }
        img {
            flex: 1;
            height: 40vh;
            width: auto;
            @include mobile {
                display: none;
            } 
            @include pad {
                display: none;
            } 
        }
    }
}

